<div class="container">
  <h1> Attention! </h1>

  <h2>General Objectives:</h2>
  <p>In response to meet the industry’s demand for technically competent and well-rounded IT graduates, the practicum/OJT program aims to:

   <p>1. Provide the students an opportunity to be exposed in an actual work setting and assimilate their academic learning into practical applications.</p>
   <p>2. Develop and instill among students the industry-desired values of positive work attitude, good human relations, competency in technical skills that pertain to their fields of study, and the openness to keep  on learning to reinvent themselves.</p>
   <p>3. Enable the student to gain experience, relate and apply the theories and concepts they learned in school/classrooms to real industrial scenarios and problems.</p>
   <p>4. Instill in the students the importance of human relations in the working environment.</p>

  <h2>General Requirements for OJT:</h2>
   <p>1. All BSIT, BSCS, BSIS and ACT students who finished the requires units prerequisite to the course must undergo Practicum/OJT (I and/or II), in partial fulfillment of the program.</p>
   <p>2. The minimum required number of hours of training per program should be in compliance with the guidelines mentioned in Section 11 of CMO No. 53, Series of 2006.</p>
   <p>3. A student is required to submit the following documents as part of the final report at the end of his/her training:</p>
    <p>a. Letter of Application with comprehensive resume/profile</p>
    <p>b. Letter of Endorsement</p>
    <p>c. Letter of Acceptance/Approval from the company</p>
    <p>d. Parent/Guardian’s Consent and/or Waiver</p>
    <p>e. Daily Attendance Report (DTR)</p>
    <p>f. Weekly Accomplishment/Progress Report</p>
    <p>g. EMployer/Supervisor Evaluation Forms</p>
    <p>h. OJT/Practicum Experience Summary Report (in narrative form, overall review and analysis ofg OJT Experience)</p>
    <p>i. Photo Documentation of the actual training</p>

  <h2>Procedure for the Student Trainees:</h2>
   <p>1. The student trainee is required to attend the OJT orientation set by the college and submit the necessary documents:</p>
    <p>a. Comprehensive Resume</p>
    <p>b. 2x2 ID picture (2 pcs.)</p>
   <p>2. The student should prepare the required documents addressed to the company concerned, endorsed by the OJT Coordinator/Adviser and the Head of the School of Computer Studies.</p>
   <p>3. The student is responsible for following up his/her application</p>
   <p>4. Upon acceptance by the company, the student must inform the OJT coordinator by submitting any proof of his acceptance (Letter of Acceptance/Approval from the company).</p>
   <p>5. The student submits the waiver form, signed by the parent/s or guardian/s to the faculty coordinator.</p>
   <p>6. The student starts at the recommended date. He/She must record his/her daily attendance indicating the log-in/log-out time. teh sueprvisor must sign it daily. The Daily Attendance record must be submitted to the practicum coordinator/adviser on a twice-a-month basis (cut-off period, 15th and 30th) and must be compiled and attached in the OJT Experience Summary Report.</p>
   <p>7. The student is required to report to his/her practicum adviser once a week to discuss the problems and some queries.</p>
   <p>8. the student is required to make a progress report, on a day-to-day basis, which is to be submitted weekly to the practicum coordinator/adviser</p>
   <p>9. The student should at all times keep all documents pertaining to his/her OJT.</p>
   <p>10. The student must comply with the general guidelines of the company regarding their own OJT program.</p>
   <p>11. The student is required to submit a hardbound of compilation ofg the accomplishment report as one of the final requirements</p>

   <h2>Duties and Responsibilities of the Student trainees:</h2>
    <p>1. Each student trainee has the following responsibilities within the company.</p>
     <p>- Data Encoding</p>
     <p>- Conduct of IT-Related Research</p>
     <p>- Technical Support</p>
     <p>- Customer Service</p>
     <p>- Program Development</p>
     <p>- Office Works (answering phone calls, photocopying, record keeping)</p>
     <p>- Familiarization on the functions/jobs done by the employees handling "Computer or IT related" work in the firm.</p>
    <p>2. Student trainee must always</p>
</div>
