<div class="header">
  <a [routerLink]="['/about']" routerLinkActive="router-link-active">About</a>
  <a href="#policies">Policies and Guidelines</a>
  <a href="#general">General Information</a>
</div>

<div class="parent">
<div class="container" [ngClass]="isSignDivVisiable ? 'active' :'' " id="container">
    <div class="form-container sign-up" >
        <form>
            <h1>Welcome Students</h1>
            <input type="email" name="email" [(ngModel)]="signUpObj.email" placeholder="Email">
            <input type="password" name="password"  [(ngModel)]="signUpObj.password" placeholder="Password">
            <button (click)="onRegister()">Login</button>
        </form>
    </div>
    <div class="form-container sign-in" >
    </div>
</div>
</div>
